/* **************|RESET|************** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 32, 32);
}

img {
    width: 100%;
}

/* **************|LAYOUT|************** */
#app {
    width: 100%;
    height: 100vh;
}

.mc-wrapper {
    padding-top: 2rem;
    width: 90%;
    min-width: 900px;
    margin: 0 auto;
    height: 90%;
    /* debug */
    border: 1px solid black;
}

.boolzapp {
    height: 100%;
    display: flex;
    background-color: var(--bg-main-layout);
}

/* **************|LEFT SIDE|************** */
.recently-message {
    width: 40%;
    border-right: 1px solid black;
}

.recently-message .header {
    padding: .8rem 1.2rem;
    /* debug */
    border: 1px solid;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
}


/* **************|RIGHT SIDE|************** */
.current-chat {
    width: 60%;
}

/* **************|VARIABLES|************** */
:root {

    /* bg color */
    --bg-main-layout: #EAEAEA;
}