/* **************|RESET|************** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(44, 32, 32);
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* **************|LAYOUT|************** */
#app {
    width: 100%;
    height: 100vh;
}

.mc-wrapper {
    padding-top: 2rem;
    width: 90%;
    min-width: 900px;
    margin: 0 auto;
    height: 90%;
    /* debug */
    border: 1px solid black;
}

.boolzapp {
    height: 100%;
    display: flex;
    background-color: var(--bg-main-layout);
}

/* **************|LEFT SIDE|************** */
/* header */
.recently-message {
    width: 40%;
    border-right: 1px solid black;
}

.recently-message .header {
    display: flex;
    padding: .8rem 1.2rem;
}

.user-info {
    width: 30%;
}

.call-to-action {
    width: 70%;
}

.user-info img {
    vertical-align: middle;
    width: 40px;
    border-radius: 50%;
}

.user-info .user-name {
    vertical-align: middle;
    font-weight: 600;
}

.recently-message .header ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    color: var(--primary-gray);
}

.recently-message .header li {
    cursor: pointer;
    width: 20px;
    text-align: center;
}

.recently-message .header li:not(:last-child) {
    margin-right: 15px;
}

/* enable notification */ 
.notification-banner {
    display: flex;
    background-color: var(--primary-azure);
    padding: .8rem 1.2rem;
    flex-wrap: wrap;
    align-items: center;
}

.notify-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: var(--primary-azure);
}

.banner-txt {
    padding-left: .6rem;
}
.banner-txt h3 {
    font-size: .8rem;
}
.banner-txt a {
    color: grey;
    font-size: .8rem;
}

/* **************|RIGHT SIDE|************** */
.current-chat {
    width: 60%;
}

/* **************|VARIABLES|************** */
:root {

    /* bg color */
    --bg-main-layout: #EAEAEA;
    --primary-gray: #B1B1B1;
    --primary-azure: #8EDAFC;
}