/* **************|RESET|************** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(44, 32, 32);
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* **************|LAYOUT|************** */
#app {
    width: 100%;
    height: 100vh;
}

.mc-wrapper {
    padding-top: 2rem;
    width: 90%;
    min-width: 900px;
    margin: 0 auto;
    height: 90%;
    /* debug */
    border: 1px solid black;
}

.boolzapp {
    height: 100%;
    display: flex;
    background-color: var(--bg-main-layout);
}

/* **************|LEFT SIDE|************** */
/* header */
.recently-message {
    width: 40%;
    height: 100%;
}

.recently-message .header {
    display: flex;
    height: 70px;
    padding: .8rem 1.2rem;
    border-right: 1.4px solid #E5DDD5;

}

.user-info {
    width: 30%;
}

.call-to-action {
    width: 70%;
}

.user-info img {
    vertical-align: middle;
    width: 40px;
    border-radius: 50%;
}

.user-info .user-name {
    vertical-align: middle;
    font-weight: 600;
}

.recently-message .header ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    color: var(--primary-gray);
}

.recently-message .header li {
    cursor: pointer;
    width: 20px;
    text-align: center;
}

.recently-message .header li:not(:last-child) {
    margin-right: 15px;
}

/* enable notification */ 
.notification-banner {
    display: flex;
    height: 70px;
    background-color: var(--primary-azure);
    padding: .8rem 1.2rem;
    flex-wrap: wrap;
    align-items: center;
}

.notify-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: var(--primary-azure);
}

.banner-txt {
    padding-left: .6rem;
}

.banner-txt h3 {
    font-size: .8rem;
}

.banner-txt a {
    color: grey;
    font-size: .8rem;
}

/* search chat */
.search-chat-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary-layout);
}

.search-chat-container label {
    line-height: 30px;
    text-align: center;
    height:30px;
    width: 15%;
    background-color: white;
    border: 1px solid var(--secondary-gray);
    color: var(--primary-gray);
    cursor: pointer;
}

.search-chat-container input {
    width: 80%;
    height: 30px;
    border: 1px solid var(--secondary-gray);

} 

/* recent chat */
.recent-chat {
    overflow-y: scroll;
    height: calc(100% - 190px);
}

.recent-chat-card {
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 1rem .4rem;
    background-color: var(--bg-secondary-layout);
}

.recent-chat-card img {
    width: 50px;
    border-radius: 50%;
}

.name-info {
    padding-left: 15px;
}

.recent-chat-card span {
    position: absolute;
    font-size: 10px;
    color: var(--primary-gray);
    right: 12px;
    top: 14px;
}

.recent-chat-card p {
    padding-top: .2rem;
    font-size: .8rem;
    color: var(--primary-gray);
} 

.recent-chat-card h3 {
    font-size: 1rem;
    font-weight: 400;
}

/* **************|RIGHT SIDE|************** */
.current-chat {
    width: 60%;
}

/* **************|UTILITIES|************** */
.input-padding::-webkit-input-placeholder {
    padding-left: 1rem;
}

/* **************|VARIABLES|************** */
:root {

    /* bg color */
    --bg-main-layout: #EAEAEA;
    --bg-secondary-layout: #FAFAFA;
    --secondary-gray: #F1F1F1;

    --primary-gray: #B1B1B1;
    --primary-azure: #8EDAFC;
}

.recent-chat-card:hover {
    background-color: var(--bg-main-layout);
}